[Unit]
Description=SSH log watcher
Wants=network-online.target
Before=sshd.service

[Service]
Type=simple
ExecStart=/usr/bin/denyhosts.py --foreground --config=/etc/denyhosts.conf
PIDFile=/run/denyhosts.pid
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
