[Unit]
Description=SSH log watcher
Before=sshd.service

[Service]
Type=forking
ExecStartPre=/bin/rm -f /run/denyhosts.pid
ExecStart=/usr/local/bin/denyhosts.py --daemon --config=/etc/denyhosts.conf
PIDFile=/run/denyhosts.pid

[Install]
WantedBy=multi-user.target
