[Unit]
Description=SSH log watcher
Before=sshd.service

[Service]
Type=forking
# this is bad... remove and do it on denyhosts.py instead
ExecStartPre=/bin/rm -f /run/denyhosts.pid
ExecStart=/usr/bin/denyhosts.py --daemon --config=/etc/denyhosts.conf
PIDFile=/run/denyhosts.pid

[Install]
WantedBy=multi-user.target
