#recursive-include help *.html
#recursive-include translations *
recursive-include plugins *
include MANIFEST.in
include LICENSE.txt
include README.txt
include CHANGELOG.txt
include denyhosts/*.py
include denyhosts.py
include denyhosts.cfg-dist
include setup.py
include version.py
include daemon-control-dist
