ipaddr >= 2.1 ; python_version < '3.0'
mock ; python_version < '3.3'
requests
configparser ; python_version < '3.4'
urllib3 == 1.26.20; python_version == '3.6'
urllib3 == 2.0.7; python_version == '3.7'
urllib3 == 2.2.2; python_version == '3.8'
urllib3 >= 2.3.0; python_version > '3.8' # not directly required, pinned by Snyk to avoid a vulnerability